<%- include("header") -%>
    <div class="box" id="heading">
        <h1>
            <%=days%>
        </h1>
    </div>
    <div class="box">
        <form class="item" action="/" method="post">
            <input type="text" name="todoitem" placeholder="eg: Buy Grossery" autocomplete="off">
            <button type="submit" name="subname" value=<%=days%> >+</button>
        </form>
        <% item.forEach(element => { %>
            <form class="delete" action="/delete" method="post">
                    <div class="item">
                    <input type="checkbox" name="checkbox" value="<%=element._id%>" onchange="this.form.submit()">
                    <input type="hidden" name="listName" value="<%=days%>">
                <p>
                    <%= element.name %>
                </p>
            </div>
                </form>
            <% }) %>
    </div>
<%- include("footer") -%>